body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 20px auto;
  padding: 15px 10px;
}

.title {
  background: #e3f4ff;
  display: box;
  padding: 10px 10px;
  font-size: 20px;
  margin-bottom: 10px;

}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 25px;
  font-size: large;
}